
.spaceforCurrent {
  width: 80vw;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  vertical-align: bottom;
  align-self: flex-end;
  padding: 0;
  margin: 0;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  text-align: center;

}

#textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  overflow: hidden;
  
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
.nameandsprite {
  flex-direction: column;
  display: flex;
  width: 50vw;
  justify-content: center;
  margin: auto;
}

img {
  display: block;
  max-width: 300px;
}

.textbox {
  font-size: 1.5rem;
  background-color: white;
  border-radius: 10px;
  aspect-ratio: 4/1;
  padding: 2vw;
  
  float: left;
  cursor:pointer;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.nav{
  float: right;
}

.icons{
  justify-content: center;
  display: flex;
}
.links{
  width: 1.8rem;
}
.advance {
  animation: blink 2s ease-in-out infinite;
}

.scroll {
  position: relative;
  animation: type 2s steps(60, end);
  white-space: nowrap;
  overflow: hidden;
  width: 90vw;
  height: 10vh;
  margin-top: 0;
}

@keyframes type {
  from { width: 0; }
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.text {
  display: flex;
}



@media only screen and (max-width: 1150px) {


.textbox {
  font-size: 1.15rem;
  background-color: white;
  border-radius: 10px;
  aspect-ratio: 6/1;
  padding: 2vw;
  
  float: left;
  cursor:pointer;
  
}

.nameandsprite {
  flex-direction: column;
  display: flex;
  width: 90vw;
  justify-content: center;
  margin: auto;
}


.name {
  font-size: 2rem;
  font-weight: bold;
  vertical-align: bottom;
  align-self: flex-end;
  padding: 0;
  margin: 0;
}




}